.credential {
  display: flex;
  list-style: none;
  background-color: lightgray;
  width: 80%;
  margin: 1em auto;
  padding: 0.6em;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  font-size: 2em;
}

li {
  margin: 0;
  border-radius: 1em;
}

.credential button {
  background-color: lightblue;
  margin: 0 0.4em;
  border-radius: 4px;
}

.credential img {
  width: 18px;
  height: auto;
  padding-top: 0.2em;
  margin: 0.2em;
}
